.header {
    height: 60px;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    // border-bottom: 2px solid #cccccc;
    position: fixed;
    box-shadow: 0 0 10px 2px #ccc;
    z-index: 5;
}

.header-container {
    width: 50%;
    min-width: 300px;
    color: black;
    // background-color: #289de1;
}
